@import url("plein.css");

:root {
  --teal: #22a39f;
  --dark: #222222;
  --white: #f3efe0;
  --grey: #6e6e6e;
}

* {
  margin: auto;
  font-family: "Plein-Variable";
  overflow-x: hidden;
}
.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: var(--dark);
}
.left {
  margin: 24px 36px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.logo {
  margin-top: 0px;
  margin-left: 0px;
  font-size: 32px;
  font-weight: 900;
  color: var(--teal);
}
.intro.name {
  margin-left: 0px;
  margin-bottom: 0px;
  font-size: 84px;
  font-weight: 900;
  color: var(--white);
}
.intro.descriptor {
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 500;
  color: var(--teal);
}

.right {
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-content: baseline;
}
.icons {
  display: flex;
  margin-top: 24px;
  margin-right: 24px;
  gap: 24px;
}
.icons > a > img {
  height: 35px;
}
nav {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 0px;
    margin-right: 0px;
    height: 60vh;
    width: 10vw;
    border-top-left-radius: 50px;
  background-color: var(--teal);
  display: flex;
  flex-direction: column;
}
.about {
  height: 100vh;
}
